
body {
    font-family: Arial, sans-serif;
    display: center;
    margin: 20px;
    padding: 10px;
    background-image: url('https://i.pinimg.com/736x/00/a8/d4/00a8d4ccf3db95e567d2ce70ea9f48d5.jpg'); 
    background-size: cover;  
    color: #333; 
  }
  
  
  h1 {
    text-align: center;
    color: #f9f7f7; 
    text-shadow: 2px 2px 5px rgb(0, 0, 0); 
  }
  
  
  .form-group {
    margin-bottom: 15px;
    text-align: left;
    display: flex;
  }
  
  
  label {
    display: inline-block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
  }
  
  
  input {
    display: block;
    align-items: left;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;  
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8); 
    color: #333; 
  }
  
  
  button {
    width: 100%;
    display: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #2fff00; 
    color: white; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0af506; /* Darker blue on hover */
  }
  
  
  .results {
    margin-top: 20px;
    padding: 15px;
    border-left: 5px solid #007BFF; /* */
    border-radius: 5px;
    color: #000000;
  }
  
  .results p {
    margin: 5px 0;
    color: #28e70a; 
  }
  